@mixin font-opensans () {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

@mixin font-montserrat () {
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
}

@mixin force-font ($fontSize: 12) {
  display: inline-block;
  font-size: 12px;
  text-size-adjust:none;
  transform : scale($fontSize / 12);
}