// mixins for clearfix
@mixin clearfix() {
  zoom: 1;
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
    visibility: hidden;
    font-size: 0;
    height: 0;
  }
}
// centralize by pseudo
@mixin centralize-pseudo () {
  &:after{
    display: inline-block;
    width: 0;
    height: 100%;
    content: 'center';
    vertical-align: middle;
    overflow: hidden;
  }
}
// centralize by translate
@mixin centralize-translate($position: 'vh') {
  @if $position == 'vh' {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  } @else if $position == 'v' {
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
  } @else if $position == 'h' {
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }
}
// centralize by margin
@mixin centralize-margin($position: 'vh') {
  @if $position == 'vh' {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
  } @else if $position == 'v' {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
  } @else if $position == 'h' {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}
// one line ellipsis
@mixin ellipsis() {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

// mutiple lines ellipsis
@mixin ellipsis-line($line: 2) {
  word-break: break-word;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  text-overflow: -o-ellipsis-lastline;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
}

// Pure Chinese/Pure English Double-line Truncation: Principle Coverage
@mixin pure-ellipsis-2 ($fSize: 14px, $bgColor: white) {
  display: block;
  // display: inline-block;
  position: relative;
  overflow: hidden;
  font-size: $fSize;
  text-align: justify;
  &::before {
    content: '...';
    position: absolute;
    z-index: 1;
    right: 0;
    bottom: 0;
    width: $fSize;
    padding-left: 3px;
    box-sizing: border-box;
    background-color: $bgColor;
  }
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: $bgColor;
  }
}
// The principle is still coverage
@mixin ellipsis-2-new () {
  height: 40px;
  line-height: 20px;
  overflow: hidden;
  &::before {
    content: '';
    float: left;
    // need width to stand, just for exist
    width: 1px;
    height: 40px;
  }
  .text {
    float: right;
    // because float right, negative margin left means pull it to right
    // when content is over 2 line, ::after will float below the ::before
    // and be pulled into the text box
    margin-left: -5px;
    width: 100%;
    word-break: break-all;
  }
  &::after {
    content: '...';
    float: right;
    position: relative;
    // relative to the parent div
    // when content is short '...' is always out the parent div
    // when content is over 2 line '...' is position on the right bottom of the parent div
    left: 100%;
    top: -20px;
    width: 1em;
    height: 20px;
    line-height: 20px;
    // pull the text box, so the ::after enter the text box
    margin-left: -1em;
    padding-right: 5px;
    background-color: white;
    // box-sizing:border-box will change the relative effect!! so use initial
    box-sizing: initial;
  }
}
