@import '../variable/index.scss';

@mixin phone () {
  @include mq($max-width: '575px') {
    @content;
  }
}

@mixin handheld () {
  @include mq($min-width: $screen-sm, $max-width: '767px') {
    @content;
  }
}

@mixin tablet () {
  @include mq($min-width: $screen-md, $max-width: '1023px') {
    @content;
  }
}

@mixin laptop () {
  @include mq($min-width: $screen-lg, $max-width: '1439px') {
    @content;
  }
}

@mixin desktop () {
  @include mq($min-width: $screen-xl) {
    @content;
  }
}

@mixin mobile () {
  @include mq($max-width: '1023px') {
    @content;
  }
}

@mixin pc () {
  @include mq($min-width: '1024px') {
    @content;
  }
}

@mixin mq($args...) {
  $media-type: 'only screen';
  $media-type-key: 'media-type';
  $args: keywords($args);
  $expr: '';

  @if map-has-key($args, $media-type-key) {
    $media-type: map-get($args, $media-type-key);
    $args: map-remove($args, $media-type-key);
  }

  @each $key, $value in $args {
    @if $value {
      $expr: "#{$expr} and (#{$key}: #{$value})";
    }
  }

  @media #{$media-type}#{$expr} {
    @content;
  }
}
